<!-- HTML -->
<article class="product card bg-info text-white mb-3">
  <header class="card-header">
    <%= link_to product do %>
      <% if product&.image&.thumb&.url&.present? %>
        <%= image_tag product&.image&.thumb.url, alt: product.name, class: "card-img-top" %>
      <% else %>
        <%= image_tag "shirt.png", alt: product.name, class: "card-img-top" %>
      <% end %>
      <h4 class="card-title"><%= product.name %></h4>
    <% end %>
  </header>
  <div class="card-body">
    <p class="card-text description">
      <%= product.description %>
    </p>
    <aside class="price">
      <%= product.price %>
    </aside>
  </div>
  <footer class="card-footer">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary btn-sm float-right', data: { "turbo-method": :put } do %>
      <span class="shopping-carts"> Add to Cart</span>
    <% end %>
    <%#= link_to product, class: 'btn btn-secondary btn-sm float-right mr-2' do %>
      <!-- Details -->
    <%# end %>
  </footer>
</article>
