<style type="text/css">
    .products-index .products, main section.categories-show .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .products-index .products .product, main section.categories-show .products .product {
        max-width: 260px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        padding-bottom: 80px;
        margin-top: 20px;
    }
    .products-index .products .product header img, main section.categories-show .products .product header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
    }
    .products-index .products .product footer, main section.categories-show .products .product footer {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #eee;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
    }
    .products-index .products .product aside.price, main section.categories-show .products .product aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #eee;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
    }
    .products-index .products .product aside.soldout, main section.categories-show .products .product aside.soldout {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        background-color: #ff9b9b;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 20px;
        color: white;
        font-size: 0.8em;
    }
    .products-index .products .product:hover, main section.categories-show .products .product:hover {
        border-color: #999;
    }
    .products-index .products .product:hover footer, main section.categories-show .products .product:hover footer {
        opacity: 1;
    }  .products-show .product-detail img.main-img {
        max-width: 100%;
    }

</style>
<section class="products-index">

  <header class="page-header">
    <h3>ALl Products</h3>
  </header>

  <div class="products">
    <% @products.each do |product| %>
      <%= render "products", product: product %>
    <% end %>
    <%= paginate @products %>
  </div>
  <header class="page-header">
    <h3>Featured Products</h3>
  </header>
  <div class="products">
    <% @featured_products.each do |product| %>
      <%= render "products", product: product %>
    <% end %>
    <%= paginate @featured_products %>
  </div>
  <header class="page-header">
    <h3>Recent Products</h3>
  </header>
  <div class="products">
    <% @recent_products.each do |product| %>
      <%= render "products", product: product %>
    <% end %>
    <%= paginate @recent_products %>
  </div>

</section>
