<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #3498db; border-color: #3498db;">
  <div style="padding-left: 30px; padding-right: 50px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color: #ffffff;">204 Collections</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Home', :root, style: "color: #ffffff;" %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;">
            Categories
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
              <li><%= link_to category.name, category %></li>
            <% end %>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav">
            <l1 class="nav-item">
              <%= form_tag products_path, :method => "get", :class => "form-inline" do %>
                <%=  text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Search Product" %>
                <%= submit_tag("Search", :name=>nil, style: "color: #ffffff;") %>
              <% end %>
            </l1>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'On Sale Products', featured_path, style: "color: #ffffff;" %>
        </li>
        <li>
          <%= link_to 'Recent Products', recent_path, style: "color: #ffffff;" %>
        </li>
        <li>
          <%= link_to 'All Products', all_products_path, style: "color: #ffffff;" %>
        </li>
        <li>
          <%= link_to 'About Us', about_path, style: "color: #ffffff;" %>
        </li>
        <li>
          <%= link_to 'Contact Us', contact_us_path, style: "color: #ffffff;" %>
        </li>
        <li>
          <%= link_to cart_path do %>
            <span class="glyphicon glyphicon-shopping-cart shopping-cart"></span> My Cart (<%= cart.size %>)
          <% end %>
        </li>
          <% if current_user&.present? %>
              <li><a href="#" style="color: #ffffff;">Signed in as <%= current_user.name.present? ? current_user.name : "Customer"  %></a></li>
          <li>
          <%= link_to destroy_customer_session_path, data: { "turbo-method": :delete }, style: "color: #ffffff;" do %>
            Logout
          <% end %>
            <li>
            <%= link_to edit_customer_registration_path, data: { "turbo-method": :get }, style: "color: #ffffff;" do %>
              Edit
            <% end %>
            </li>
          </li>
          <% else %>
          <li><%= link_to 'Login', new_customer_session_path, style: "color: #ffffff;" %></li>
          <li><%= link_to 'Register', new_customer_registration_path, style: "color: #ffffff;" %></li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
